.movie-playlist-item {
  margin: 8px 0;
}

.movie-playlist-item .title {
  font-size: 20px;
  font-weight: 600;
  margin-right: 8px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #79d087;
  height: 40px;
  font-size: 18px;
}
